@inject NavigationManager? NavigationManager
@inject IJSRuntime JsRuntime

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
@code {

    override protected async Task OnInitializedAsync()
    {
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        string cookieValue = JsRuntime.InvokeAsync<string>("ReadCookie.ReadCookie", "memberName").Result;
        if (string.IsNullOrEmpty(cookieValue))
        {
            NavigationManager?.NavigateTo("pickuser");
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}