@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CC</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>*@

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="fetchdata" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Groups">Community</MudNavLink>
    <MudNavLink Href="toto" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Chat">Chat</MudNavLink>
    <MudNavLink Href="counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Event">Event</MudNavLink>
    <MudNavLink Href="counter1" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ShoppingBasket">Shops</MudNavLink>
    <MudNavLink Href="counter2" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Email">Email</MudNavLink>
    <MudNavLink Href="claimsprincipaldata" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Info">Claims</MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="Identity/Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ManageAccounts">My account</MudNavLink>
        </Authorized>
    </AuthorizeView>
</MudNavMenu>
